.Products{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('./fondoProducts.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
.Products h1{
    font-size: 4vw;
    text-decoration-line: line-through;
    text-decoration-color: #0D2E75;
}

.ProductList{
    display: flex;
    position: absolute;
    bottom:20%;
}

@media only screen and (max-width:700px){
    .Products{
        height: 130vh;
        position: relative;
        background-image: url('./fondoProducts.png');
        background-attachment: fixed;
        background-position-y: 40%;
        background-size: 100%;
    }
    .Products h1{
        font-size: 10vw;
    }
    .ProductList{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15%;
    }
}