.Products{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('./fondoProducts.png');
    background-attachment: fixed;
    background-size: 100%;
}
.Products h1{
    font-size: 4vw;
    text-decoration-line: line-through;
    text-decoration-color: #0D2E75;
}

.ProductList{
    display: flex;
    position: absolute;
    bottom:20%;
}