.Menu{
    z-index: 1000;
}
.menu-btn{
    width: 10vw;
    position: fixed;
    top:5%;
    left:7%;
    
}
.Menu-bar{
    display: none;
    width: 70vw;
    height: 100vh;
    position: fixed;
    background: rgb(120,32,150);
    background: linear-gradient(68deg, rgba(120,32,150,1) 31%, rgba(109,33,147,1) 44%, rgba(95,35,143,1) 52%, rgba(84,37,139,1) 61%, rgba(13,46,117,1) 88%);
}
