.ProductCard{
    position: relative;
    width: 28.7vw;
    height: 21vw;
    margin: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 2vw;
    transition: 0.05s ease-in;
    cursor: pointer;
}
.ProductCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    font-size: 2.15vw;
}
.ProductCard img{
    width: 100%;
}
.ProductCard h2{
    margin: 0 auto;
    position: absolute;
    top: 43%;
    color: #fff;
    text-align: center;
    width: 100%;
}