.Nav{
    position: absolute;
    list-style: none; 
    margin:0;
    left:0;
    top:30%;
    text-align: left;
}
.Nav li{
    margin: 2.5vw;
    margin-left: 1vw;
    font-family: 'Lato';
    font-size: 1.3vw;
    cursor: pointer;
    transition: font-size 0.3s ease-in;
}
.Nav li:hover{
    font-size: 1.5vw;
}
.Nav li a{
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    .Nav{
        display: none;
    }
}