.Banner{
    width: 100%;
    height: 100vh;
    position: relative;
}
.tobaco{
    width: 25%;
    position: relative;
    right: 30%;
}
.hoja-tobaco{
    position: absolute;
    top:50%;
    left: -1vw;
    width: 8vw;
    transform: rotate(90deg);
}
.Banner-desc{
    width: 40%;
    position: absolute;
    left:45%;
    top: 20%
}
.Banner-desc h1{
    font-size: 3vw;
}
.Banner-desc h3{
 font-family: 'Playfair Display';
 font-weight: 300;
 font-size: 1.5vw;
}